html,
body {
  margin: 0;
  padding: 0; }

.no-padding {
  padding: 0 !important; }

body {
  color: blue;
  height: 2000px;
  font-family: 'PressStart2P', cursive;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1a3d), to(#da1553));
  background: -webkit-linear-gradient(#1a1a3d, #da1553);
  background: -o-linear-gradient(#1a1a3d, #da1553);
  background: linear-gradient(#1a1a3d, #da1553);
  background-repeat: no-repeat; }
  body .wrap header {
    background-color: #120c35;
    padding-top: 20px;
    padding-bottom: 20px; }
    body .wrap header .nav {
      padding-top: 10px; }
      body .wrap header .nav ul {
        margin: 0; }
      body .wrap header .nav li {
        display: inline;
        margin-left: 40px; }
        body .wrap header .nav li:first-child {
          margin-left: 0; }
      body .wrap header .nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        color: #da1552; }
        body .wrap header .nav a:hover {
          color: #e06289; }
